{%  extends 'base.html' %}
{%  include 'header.html' %}

{% block title %} Learning platform{% endblock %}
{%  block body %}




    <div class="container ">
        <div class="row " style="background-image: none; margin-top:70px " >



            <div class="col" style="background-color:white">
                <div class="cards shadow-lg mx-4 px-3" style="width:18rem;">
                    <div class="card-title " style="height:20%">
                        <h4> Introduction To <br />
                            programming</h4>
                    </div>
                    <a href="https://www.youtube.com/watch?v=zOjov-2OZ0E">
                    <img class="card-img-top" src="../static/asset/Introduc.jpeg" alt="Programming-image" width="30"
                        height="200">
                    </a>


                    <div class="card-body " id="Introduction" style="text-align:center " >
                        Programming refers to a technological process for telling a computer which tasks to perform in
                        order to solve problems. You can think of programming as a collaboration between humans and
                        computers
                    </div>
                    <div class="card-footer" >
                        <div class="col" style="background-color: aqua;">
                         <div class="btn btn-primary border-radius:5px font:12px gayatri ">Buy Now</div>
                         <div class="btn btn-warning border-radius:5px font:12px gayatri ">price:190</div>
                        </div>
                     </div>
                </div>

            </div>



            <div class="col" style="background-color:white">
                <div class="cards shadow-lg mx-4 px-3" style="width:18rem;">
                    <div class="card-tittle">
                        <h1>C-program</h1>
                    </div>
                    <a href="https://www.youtube.com/watch?v=87SH2Cn0s9A">
                    <img class="card-img-top" src="../static/asset/c.jpeg" alt="python" alt="Python" width="30" height="200" />
                    </a>
                    <div class="card-body" id="C-program">
                        C Programming is a computer-programming language that was developed in 1972 to create the
                        operating system UNIX. A programming language is a type of written language that tells computers
                        what to do in order to work
                    </div>
                    <div class="card-footer" >
                        <div class="col" style="background-color: aqua;">
                         <div class="btn btn-primary border-radius:5px font:12px gayatri ">Buy Now</div>
                         <div class="btn btn-warning border-radius:5px font:12px gayatri ">price:1990</div>
                        </div>
                     </div>
                </div>
            </div>




            <div class="col" style="background-color:white;">
                <div class="cards shadow-lg mx-4 px-3" style="width:18rem;">
                    <div class="card-title">
                        <h1>Python</h1>
                    </div>
                     <a href="https://www.youtube.com/watch?v=XKHEtdqhLK8">
                    <img class="card-img-top" src="../static/asset/py.jpeg" alt="python" alt="Python" width="30" height="200" />
                     </a>
                    <div class="card-body" id="Python">
                        Python is a general-purpose programming language that puts simplicity above all else. It eases
                        the programming process by hiding the ugly details like memory management and code boilerplate,
                        and instead opts for friendly, human-readable code.
                    </div>
                    <div class="card-footer" >
                        <div class="col" style="background-color: aqua;">
                         <div class="btn btn-primary border-radius:5px font:12px gayatri ">Buy Now</div>
                         <div class="btn btn-warning border-radius:5px font:12px gayatri ">price:1990</div>
                        </div>
                     </div>
                </div>
            </div>



        </div>
        <div class="row" style="background-image: none;">



            <div class="col" style="background-color:white">
                <div class="cards shadow-lg mx-4 px-3" style="width:18rem;">
                    <div class="card-title " style="height:20%">
                        <h1>Java</h1>
                    </div>
                    <a href="https://www.youtube.com/watch?v=xk4_1vDrzzo">
                    <img class="card-img-top" src="../static/asset/Java.png" alt="Java-image" width="30" height="200">
                    </a>
                    <div class="card-body" s id="Java">
                        Java is a widely used object-oriented programming language and software platform that runs on
                        billions of devices, including notebook computers, mobile devices, gaming consoles, medical
                        devices and many others. .
                    </div>
                    <div class="card-footer" >
                        <div class="col" style="background-color: aqua;">
                         <div class="btn btn-primary border-radius:5px font:12px gayatri ">Buy Now</div>
                         <div class="btn btn-warning border-radius:5px font:12px gayatri ">price:1990</div>
                        </div>
                     </div>
                </div>

            </div>



            <div class="col" style="background-color:white">
                <div class="cards shadow-lg mx-4 px-3" style="width:18rem;">
                    <div class="card-tittle">
                        <h1>HTML</h1>
                    </div>
                    <a href="https://www.youtube.com/watch?v=HGTJBPNC-Gw">
                    <img class="card-img-top" src="../static/asset/Html.png" alt="HTML-image" alt="HTML" width="30"
                        height="200" />
                    </a>
                    <div class="card-body" id="HTML">
                        The HyperText Markup Language or HTML is the standard markup language for documents designed to
                        be displayed in a web browser. It defines the meaning and structure of web content. It is often
                        assisted by technologies such as CSS and JS
                    </div>
                    <div class="card-footer" >
                        <div class="col" style="background-color: aqua;">
                         <div class="btn btn-primary border-radius:5px font:12px gayatri ">Buy Now</div>
                         <div class="btn btn-warning border-radius:5px font:12px gayatri ">price:1990</div>
                        </div>
                     </div>
                </div>
            </div>




            <div class="col" style="background-color:white;">
                <div class="cards shadow-lg mx-4 px-3" style="width:18rem;">
                    <div class="card-title">
                        <h1>A.I</h1>
                    </div>
                    <a href="https://www.youtube.com/watch?v=5NgNicANyqM">
                    <img class="card-img-top" src="../static/asset/AI.jpeg" alt="AI-image" alt="Python" width="30"
                        height="200" />
                    </a>

                    <div class="card-body" id="A.I">
                        Artificial Intelligence(A.I) is the most preferred technology in modern days. Even Smartphone
                        with AI gets a higher sale rate than that without AI. In such a situation, it becomes very
                        important to have some basic information about AI.

                    </div>
                    <div class="card-footer" >
                        <div class="col" style="background-color: aqua;">
                         <div class="btn btn-primary border-radius:5px font:12px gayatri ">Buy Now</div>
                         <div class="btn btn-warning border-radius:5px font:12px gayatri ">price:1990</div>
                        </div>
                     </div>
                </div>
            </div>



        </div>

        <div class="row" style="background-image: none;">



            <div class="col" style="background-color:white">
                <div class="cards shadow-lg mx-4 px-3" style="width:18rem;">
                    <div class="card-title " style="height:20%;">
                        <h4 style="font-weight: bolder;">Machine<br />Learning</h4>
                    </div>
                     <a href="https://www.youtube.com/watch?v=N5fSpaaxoZc">
                    <img class="card-img-top" src="../static/asset/ML.jpeg" alt="Java-image" width="30" height="200">
                     </a>
                    <div class="card-body" id="ML">
                        ML is a widely used domain of Artificial Intelligence language and sofware used to Analyse data using Algorithms .it is applied in computers, mobile devices, gaming consoles, medical
                        devices and many others. 
                    </div>
                    <div class="card-footer" >
                        <div class="col" style="background-color: aqua;">
                         <div class="btn btn-primary border-radius:5px font:12px gayatri ">Buy Now</div>
                         <div class="btn btn-warning border-radius:5px font:12px gayatri ">price:1990</div>
                        </div>
                     </div>
                </div>

            </div>



            <div class="col" style="background-color:white">
                <div class="cards shadow-lg mx-4 px-3" style="width:18rem;">
                    <div class="card-tittle">
                        <h4 style="font-weight: bolder;">Cloud<br />Computing</h4>
                    </div>
                    <a href="https://www.youtube.com/watch?v=2LaAJq1lB1Q">
                     <img class="card-img-top" src="../static/asset/CC.jpeg" alt="cloud-image" alt="HTML" width="30"
                        height="200" />
                    </a>
                      <div class="card-body" id="Cloud">
                        Cloud computing is a domain of computer science dealing with virtulization of Computation,Services,Networking, storage, etc.,.Now a days it is widely used by Giant companies
to store store them
                    </div>
                    <div class="card-footer" >
                        <div class="col" style="background-color: aqua;">
                         <div class="btn btn-primary border-radius:5px font:12px gayatri ">Buy Now</div>
                         <div class="btn btn-warning border-radius:5px font:12px gayatri ">price:1990</div>
                        </div>
                     </div>
                </div>
            </div>




            <div class="col" style="background-color:white;">
                <div class="cards shadow-lg mx-4 px-3" style="width:18rem;">
                    <div class="card-title">
                        <h1>Android</h1>
                    </div>
                        <a href="https://www.youtube.com/watch?v=aS__9RbCyHg">
                    <img class="card-img-top" src="../static/asset/Android.png" alt="Android-image" alt="Android" width="30"
                        height="200" />
                        </a>
                    <div class="card-body" id="Android">
                        Android programming is a widely used object-oriented programming language and software platform that runs on
                        billions of devices, including notebook computers, mobile devices, gaming consoles, medical
                        devices and many others. .

                    </div>
                    <div class="card-footer" >
                        <div class="col" style="background-color: aqua;">
                         <div class="btn btn-primary border-radius:5px font:12px gayatri ">Buy Now</div>
                         <div class="btn btn-warning border-radius:5px font:12px gayatri ">price:1990</div>
                        </div>
                     </div>
                </div>
            </div>



        </div>
    </div>
<script >
    function a(){
var x=document.getElementById("123");
var y=x.value;
console.log(y);
document.getElementById(y).style.backgroundColor="blue"; border:3px solid red;}

document.addEventListener("keypress",a());

</script>

{%  endblock %}

